.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 100%;
    background-color: rgb(68,65,65);
    color: #fff;
    border-top: 2px solid #d68e09;
}

.footer h1{
    font-size: 1.2rem;
}